body {
    background: #f1f1f1;
    padding-top: 80px;
    padding-bottom: 20px;
}

input,
select,
textarea {
    margin-bottom: 5px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.form-signin, .form-new-journey {
    display: block;
    margin: 0 auto;
    max-width: 320px;
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 20px;
}

.form-signin button {
    margin-top: 20px;
}

.list-journeys {
    margin-top: 15px;
}

.center-element {
    display: block;
    margin: 0 auto;
}

.home-wrapper, .login-wrapper {
    max-width: 600px;
    /*text-align: center;*/
    margin: 0 auto;
}

.home-wrapper .center-block {
    margin-top: 30px;
}

.home-wrapper .center-block a {
    margin: 0 10px;
}

footer p {
    text-align: center;
}