
@{
    ViewBag.Title = "Index";
}

<div data-ng-app="journeyApp" class="wrapper">
    <div class="home-button-wrapper">
        <a class="btn btn-default" href="#!/home">Hem</a>
        <a class="btn btn-default" href="#!/vehicle">Mina fordon</a>
        <a class="btn btn-default" href="#!/stats">Statistik</a>
    </div>
    <data-ng-view>
    </data-ng-view>
</div>