@{
    ViewBag.Title = "Home Page";

}

<div class="home-wrapper index-view">
    <h1>Journey</h1>
    <h3>Din körjournal online!</h3>
    <div class="login-buttons">
        <a href="/Account/Register" class="btn btn-primary">Registrera dig</a>
        <a href="/Account/Login" class="btn btn-default">Logga in</a>
    </div>

    <div class="about-feed">
        <strong>Om journey</strong>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Huic ego, si negaret quicquam interesse ad beate vivendum quali uteretur victu, concederem, laudarem etiam; Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Praeteritis, inquit, gaudeo. Quamquam te quidem video minime esse deterritum.
        </p>
    </div>
</div>