
<a href="{{startUrl}}" class="btn btn-primary center-element">{{startMessage}}</a>
<ul class="list-group list-journeys">

    <li ng-repeat="row in myTrips">
        <a href="{{'#!/stop/'+row.Id}}" class="{{row.Active ? 'list-group-item list-group-item-action list-group-item-warning' : 'list-group-item'}}">
            <strong>{{row.Vehicle.NumberPlate}}</strong>
            <i>{{row.AddressStart}} - {{row.AddressStop}}</i>
            <span>{{row.OdometerStop - row.OdometerStart}} km</span>
        </a>
    </li>
    
    
</ul>