
<a href="#!/start" class="btn btn-primary center-element">Starta ny resa</a>

<div class="list-group list-journeys">
    <a href="#!/overview/12" class="list-group-item list-group-item-action"><span>XEM225</span> | Värnamo - Jönköping | 95438km  <span>2017-3-21</span></a>
    <a href="#!/overview/12" class="list-group-item list-group-item-success"><span>XEM225</span> | Värnamo - Jönköping | 95362 - 95486 | 123KM <span>2017-3-21</span></a>
    <a href="#!/overview/12" class="list-group-item list-group-item-success"><span>XEM225</span> | Värnamo - Jönköping | 95362 - 95486 | 123KM <span>2017-3-21</span></a>
    <a href="#!/overview/12" class="list-group-item list-group-item-success"><span>XEM225</span> | Värnamo - Jönköping | 95362 - 95486 | 123KM <span>2017-3-21</span></a>
    <a href="#!/overview/12" class="list-group-item list-group-item-success"><span>XEM225</span> | Värnamo - Jönköping | 95362 - 95486 | 123KM <span>2017-3-21</span></a>
</div>