<!--Lets user start a journey-->
<form class="form-new-journey" ng-submit="startTrip()">
    <h2>Påbörja en resa</h2>
    <select class="form-control" ng-model="tripVehicle" ng-options="item.Id as item.NumberPlate for item in myVehicles">
        <option ng-option value="">Välj ett fordon</option>
    </select>

    <input ng-model="tripStartDate" type="date" name="date" id="journeyDate" class="form-control" value="{{currentDate}}" required="">
    <input ng-model="tripOdometer" type="number" name="tripStart" class="form-control" placeholder="Mätarställning start" required="">
    <div class="input-group start-adress-container">
        <input ng-model="tripStartPos" type="text" name="startAdress" class="form-control" placeholder="Start adress" required="">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="setStartPos()" type="button"><span class="glyphicon glyphicon-map-marker"></span></button>
        </span>
    </div>
    <input ng-model="tripStopPos" type="text" name="destinationAdress" id="destinationAdress" class="form-control" placeholder="Destination adress" value="{{destPos}}" required="">
    <textarea ng-model="tripErrand" name="errand" class="form-control" placeholder="Ärende" required></textarea>
    <textarea ng-model="tripNote" name="note" class="form-control" placeholder="Anteckningar"></textarea>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Starta resa</button>
</form>
